 <template name="builder">
	<div id="body">
		<div id="deckmoddiv" class="span12 inset_header">
		 <div class="row"> <!-- necessary for grid system... :( -->
			<div id="visualmoddiv" class="span8">
				 <div class="row" style="margin-left: 30px;"> <!-- necessary for grid system... :( -->
			<div id="visualmoddiv" class="span12">
				<input class="input-large" type="text" value="{{deck.name}}" id="deckname" />
				<button type="button" id="clonedeck">Clone</button>
				{{> controls}}
				<hr />
				<h2>Mainboard - {{deck.mainboard.length}} cards</h2>
				{{> visualmainboard}}
				<hr />
				<h2>Sideboard - {{deck.sideboard.length}} cards</h2>
				{{> visualsideboard}}
				<hr />
				<h2>Pool - {{deck.pool.length}}</h2>
				{{> visualpool}}
			</div>
		</div>
	</div>
			<div id="textboard" class="span4">
				{{> textboard}}
			</div>
		</div>
		 </div>
		 <button>save</button>
		</div>
	</div>
 </template>
