<template name="categories">
					<h2>Categories</h2>
					<label class="radio inline">
						<input type="radio" name="categoryRadios" value="none" selected>
						None
					</label>
					<label class="radio inline">
						<input type="radio" name="categoryRadios" value="cardtype">
						Type
					</label>
					<label class="radio inline">
						<input type="radio" name="categoryRadios" value="rarity">
						Rarity
					</label>
					<label class="radio inline">
						<input type="radio" name="categoryRadios" value="convertedmanacost">
						Cost
					</label>
</template>
