<template name="draftlobby">
<h3>Draft Lobby for id: {{draft.id}}</h3>
<div data-draftid="{{draft.id}}">
	<div id="lobbyDiv" class="span8 inset_header">
		<p>Packs: {{#each draft.packs}}[{{this}}]{{/each}}</p>
		<p>({{draft.players.length}}/{{draft.numberOfSeats}}) Players</p>
		<div>
			{{#each draft.players}}
				<p class="tablelike">{{this}}</p>
			{{/each}}
		</div>
	</div>
	<div id="chatroomDiv" class="span4 inset_header">
		{{> chatroom}}
	</div>
	<div>
		<button id="startwithbots" data-withbots="true">Start draft with {{subtraction draft.numberOfSeats draft.players.length}} bots</button>
		<button id="startwithoutbots" data-withbots="false">Start draft with {{draft.players.length}} players (no bots)</button>
	</div>
</div>
</template>
