<template name="feedback">
	<fieldset>
		<legend>Please Leave Feedback</legend>
		<form id="feedback">
			<label class="radio inline">
				<input type="radio" name="type" value="error" /> broken
			</label>
			<label class="radio inline">
				<input type="radio" name="type" value="inconvinience" /> inconvinience 
			</label>
			<label class="radio inline">
				<input type="radio" name="type" value="suggestion" /> suggestion
			</label>
			</div>
			<textarea name="body" class="span12"></textarea><br />
			<input type="submit" value="submit" />
		</form>
	</fieldset>
</template>
