<template name="filters">
					<h2>Filters</h2>
					<div class="builderfilters form-inline">
						<p>(u, b, w, r, g, a, l are relative shortcuts to the filters)</p>
						<label class="checkbox">
							<input type="checkbox" checked="checked" id="U" />
							<span>Blue</span>
						</label>
						<label class="checkbox">
							<input type="checkbox" checked="checked" id="B" />
							<span>Black</span>
						</label>
						<label class="checkbox">
							<input type="checkbox" checked="checked" id="W" />
							<span>White</span>
						</label>
						<label class="checkbox">
							<input type="checkbox" checked="checked" id="R" />
							<span>Red</span>
						</label>
						<label class="checkbox">
							<input type="checkbox" checked="checked" id="G" />
							<span>Green</span>
						</label>
						<label class="checkbox">
							<input type="checkbox" checked="checked" id="A" />
							<span>Artifact</span>
						</label>
						<label class="checkbox">
							<input type="checkbox" checked="checked" id="L" />
							<span>Land</span>
						</label>
					</div>
</template>
