<template name="home">
	<h3>Home!</h3>
		<button id="sealedsetup">New Sealed Deck</button> <br />
	{{#if currentUser}}
		<div id="draftLobbyDiv" class="span8 inset_header">
			{{#each open_drafts}}
			<div class="tablelike"><a href="/draftlobby/{{id}}">
					{{#each packs}}[{{this}}]{{/each}} - {{implode players ", "}}</a></div>
			{{/each}}
			<hr />
			<button id="draftsetup" style="position: absolute; right: 10px; bottom: 10px;">New Draft</button>
		</div>
		<div id="chatroomDiv" class="span4 inset_header">
			{{> chatroom}}
		</div>
		<div id="userDecksDiv" class="span12 inset_header">
			{{#each decks}}
			<span class="tablelike"><a href="builder/{{name}}">{{name}}</a></div>
			{{/each}}
		</div>
	{{/if}}
</template>
