<template name="mainboardcard">
	<div data-id="{{_index}}" class="mainboard{{_index}} cardchoice {{id}} {{color}}">
		<h3 class="instanceCount"></h3>
		<div style="display:inline-block;">
		{{> card}}
		</div>
		<div style="vertical-align: top;"class="btn-group-vertical">
			{{#if unlimitedPool}}
			 <button class="btn addToMain">+1<span class="x_main">(n)</span></button>
			{{/if}}
			<button class="btn moveToSide">-&gt;</button>
			<button class="btn removeFromMain">-1</button>
		</div>
	</div>
</template>
